version: '3'
services:
  cs:
    image: cs16ds/server:latest
    container_name: cs
    ports:
      - 27015:27015/udp
      - 27015:27015
    environment:
      - ADMIN_STEAM=0:1:1234566
    restart: always
    x-tinkr:
      cpu: 512
      memory: 512
      load_balancer:
        tenancy: shared
        type: webserver
        healthcheck:
          timeout: 10
          healthy-threshold: 3
          unhealthy-threshold: 5
          port: 8888
          path: /
          interval: 120
